{% load static %}
<!DOCTYPE html>
  <html>
    <head>
 		<title>{{titulo}}</title>
	    <!--Import css-->
	    <link type="text/css" rel="stylesheet" href="{% static 'auth2/css/bootstrap.min.css' %}"  media="screen,projection"/>
	    <link rel="stylesheet" type="text/css" href="{% static 'auth2/css/style.css' %}" />
	    <!--Let browser know website is optimized for mobile-->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	    <link rel="shortcut icon" type="image/png" href="{% static 'auth2/images/utn.png' %}"/>
    </head>

    <body>
    <div class="container">
    <div class="row mt-5">
    <div class="col-md-6 col-sm-12 offset-md-3">

    	{% if messages %}
		  {% for message in messages %}
		  <div class="alert alert-{{ message.tags }} alert-dismissable alert-link" role="alert">    
		  <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
		    <p><b>{{ message }}</b></p>
		  </div>
		  {% endfor %}
		{% endif %}

		<div class="card fat">
			<div class="card-body">
				<h4 class="card-title">Registrarse</h4>
					<form method="POST">{% csrf_token %}
						<div class="form-group">
									<label for="name">Usuario</label>
									<input id="name" type="text" class="form-control" name="username" required autofocus>
								</div>

								<div class="form-group">
									<label for="email">E-Mail</label>
									<input id="email" type="email" class="form-control" name="email" required>
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								</div>

								<div class="form-group no-margin">
									<button type="submit" class="btn btn-success btn-block">
										Registrarse
									</button>
								</div>
								<div class="margin-top20 text-center">
									¿Ya tiene una cuenta? <a href="{% url 'login' %}">Login</a>
								</div>
					</form>
			</div>
		</div>

		</div>
	</div>

	
	{% include 'footer.html' %}

      	<!--JavaScript at end of body for optimized loading-->
      	<script type="text/javascript" src="{% static 'auth2/js/jquery-3.2.1.min.js' %}"></script>
      	<script type="text/javascript" src="{% static 'auth2/js/bootstrap.min.js' %}"></script>
      	<script type="text/javascript" src="{% static 'auth2/js/popper.min.js' %}"></script>
    </div>
    </body>
  </html>