{% extends 'base.html' %}

{% block content %}

{% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissable alert-link" role="alert">    
      <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
        <p><b>{{ message }}</b></p>
      </div>
      {% endfor %}
{% endif %}


<div class="card">
  <div class="card-body">
  	<h5 class="card-title">Producto index</h5>
    
    <div class="table-responsive">
    <table class="table table-striped">
	  <thead>
	    <tr>
		    <th scope="col">Nombre</th>
		    <th scope="col">Categoría</th>
		    <th scope="col">Acciones</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for producto in productos %}
	    <tr>
	      	<td>{{ producto.nombre_producto }}</td>
	      	<td>{{ producto.categoria }}</td>
	      	<td scope="row">
	    		<a href="{% url 'modelo1_show' producto.id %}">Ver</a></li>
	    		|
	    		<a href="{% url 'modelo1_edit' producto.id %}">Editar</a></li>
	    	</td>
	    </tr>
    	{% endfor %}	
	  </tbody>
	</table>
	</div>

  </div>
</div>
{% endblock %}