{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}

<div class="alert alert-info alert-dismissable alert-link" role="alert">    
	<button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
	<p><b>Sólo de aceptan valores mayores a 0 en los campos.</b></p>
	<p><b>Recuerde mantener la homogeneidad de las unidades.</b></p>
</div>

<form method="post">
{% csrf_token %}
	<div class="card">
		<div class="card-body">
		{% for hidden_field in modelo.hidden_fields %}
    		{{ hidden_field }}
  		{% endfor %}

  		<div class="row">
	  	{% for field in modelo.visible_fields %}
	    	
	    	<div class="col-md-6 col-sm-12">
	    	<div class="form-group">
	      		{{ field.label_tag }}
			    {% render_field field class="form-control" %}
			    {% if field.help_text %}
			    	<small class="form-text text-muted">{{ field.help_text }}</small>
			    {% endif %}
			</div>
		    </div>
	  	{% endfor %}
	  	</div>
	  	<button type="submit" class="btn btn-primary">Crear</button>

	  	<p><small><i>*Todos los campos son obligatorios.</i></small></p>
	  	</div>
	 </div>
</form>
{% endblock %}