{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}

{% if messages %}
	{% for message in messages %}
	<div class="alert alert-{{ message.tags }} alert-dismissable alert-link" role="alert">    
	<button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
	<p><b>{{ message }}</b></p>
	</div>
	{% endfor %}
{% endif %}


<form method="post">
{% csrf_token %}
	<div class="card">
		<div class="card-body">
		{% for hidden_field in modelo.hidden_fields %}
    		{{ hidden_field }}
  		{% endfor %}

  		<div class="row">
	  	{% for field in modelo.visible_fields %}
	    	
	    	<div class="col-md-6 col-sm-12">
	    	<div class="form-group">
	      		{{ field.label_tag }}
			    {% render_field field class="form-control" %}
			    {% if field.help_text %}
			    	<small class="form-text text-muted">{{ field.help_text }}</small>
			    {% endif %}
			</div>
		    </div>
	  	{% endfor %}
	  	</div>
	  	<button type="submit" class="btn btn-primary">Crear</button>
	  	</div>
	 </div>

</form>
{% endblock %}