{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

{% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissable alert-link" role="alert">    
      <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
        <p><b>{{ message }}</b></p>
      </div>
      {% endfor %}
{% endif %}


<div class="card">
<div class="card-body">

<h5 class="card-title text-center">
<strong>Detalle de {{ modelo.nombre_producto }}</strong>
</h5>

<h6>Categoría:  <strong>{{ modelo.categoria }}</strong></h6>

<div class="row">
  <div class="col-md-6 col-sm-12">
    <ul class="list-unstyled">
      <li>(D) Demanda Total: <strong>{{ modelo.d }} unidades</strong></li>
      <li>(K) Costo de Preparación de Pedido: <strong>{{ modelo.k }} U.M.</strong></li>
      <li>(h) Costo Unitario de Almacenamiento: <strong>{{ modelo.h }} U.M.</strong></li>
    </ul>
  </div>

  <div class="col-md-6 col-sm-12">
    <ul class="list-unstyled">
      <li>(q°) Lote Óptimo de Compra: <strong>{{ modelo.loc }} unidades</strong></li>
      <li>(t°) Longitud de ciclo: <strong>{{ modelo.lc }}</strong></li>
      <li>(CTE°) Costo Total Esperado: <strong>{{ modelo.ci }} U.M.</strong></li>
    </ul>
  </div>

</div>

<button type="submit" class="btn btn-info">Editar</button>

<div id="grafico">
</div>

</div>
</div>

{% endblock %}

